<div class="jumbotron">
    <h1 class="text-center">Cadastrar fotos</h1>
</div>
<div class="container">
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <form class="row" (submit)="cadastrar()" [formGroup]="meuForm">
        <div class="col-md-6">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input formControlName="titulo" required type="text" [(ngModel)]="foto.titulo" name="titulo" class="form-control" id="titulo">

                <div *ngIf="!meuForm.controls.titulo.valid">
                    <span *ngIf="meuForm.controls.titulo.errors.required" class="form-control alert-danger">
                        Título obrigatório
                    </span>
                    <span *ngIf="meuForm.controls.titulo.errors.minlength" class="form-control alert-danger">
                        Tamanho minimo de 4 caracteres
                    </span>
                </div>

            </div>

            <div class="form-group">
                <label for="url">url</label>
                <input formControlName="url" required type="text" [(ngModel)]="foto.url" name="url" class="form-control" id="url">
                 <span *ngIf="meuForm.controls.url.invalid" class="form-control alert-danger">
                    Url obrigatória
                </span>

            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea formControlName="descricao" [(ngModel)]="foto.descricao" name="descricao" class="form-control" id="descricao"></textarea>
            </div>

            <botao [desabilitado]="meuForm.invalid" tipo="submit" classes="btn-primary" nome="Salvar" ></botao>
            <!--<button type="submit" class="btn btn-primary" [disabled]="meuForm.invalid">Salvar</button>-->
            <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
        </div>
        <div class="col-md-4" *ngIf="meuForm.controls.titulo.valid">
            <painel titulo="{{foto.titulo}}">
                <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
            </painel>
        </div>
    </form>
</div>