<div class="jumbotron">
    <h1 class="text-center">Cadastrar fotos</h1>
</div>
<div class="container">
    <form class="row" (submit)="cadastrar()" [formGroup]="meuForm">
        <div class="col-md-6">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input formControlName="titulo" required type="text" [(ngModel)]="foto.titulo" name="titulo" class="form-control" id="titulo">
                <span *ngIf="meuForm.controls.titulo.invalid">
                    <span *ngIf="meuForm.controls.titulo.errors.required" class="form-control alert-danger">
                        Título obrigatório
                    </span>
                    <span *ngIf="meuForm.controls.titulo.errors.minlength" class="form-control alert-danger">
                        Tamanho minimo de 4 caracteres
                    </span>
                </span>
            </div>

            <div class="form-group">
                <label for="url">url</label>
                <input formControlName="url" required type="text" [(ngModel)]="foto.url" name="url" class="form-control" id="url">
                 <span *ngIf="meuForm.controls.url.invalid" class="form-control alert-danger">
                    Url obrigatória
                </span>

            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea formControlName="descricao" [(ngModel)]="foto.descricao" name="descricao" class="form-control" id="descricao"></textarea>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="meuForm.invalid">Salvar</button>
            <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
        </div>
        <div class="col-md-4">
            <h2>{{foto.titulo}}</h2>
            <img src="{{foto.url}}" alt="">
        </div>
    </form>
    
</div>