<header class="jumbotron">
  <h1 class="text-center">{{title}}</h1>
</header>

<article class="container">

  <section class="row">
    <div class="col-md12">
      <form action="">
        <div class="input-group">
          <span class="input-group-btn">
              <a [routerLink]="['/cadastro']" class="btn btn-primary">
                Nova foto
              </a>
          </span>
          <input #textoProcurado (keyup)="0"  type="text" class="form-control">
        </div>
      </form>
    </div>
  </section>

<br>

  <section class="row">
      <painel *ngFor="let foto of fotos | filtroPorTitulo: textoProcurado.value" titulo="{{foto.titulo}}" class="col-md-2 efeito">
        <foto class="efeito" url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
      </painel>
  </section>

</article>