<header class="jumbotron">
  <h1 class="text-center">{{title}}</h1>
</header>

<article class="container">

  <p *ngIf="mensagem.length" class="alert alert-warning">{{mensagem}}</p>

  <section class="row">
    <div class="col-md12">
      <form action="">
        <div class="input-group">
          <span class="input-group-btn">
              <a [routerLink]="['/cadastro']" class="btn btn-primary">
                Nova foto
              </a>
          </span>
          <input #textoProcurado (keyup)="0"  type="text" class="form-control">
        </div>
      </form>
    </div>
  </section>

<br>

  <section class="row">
      <painel *ngFor="let foto of fotos | filtroPorTitulo: textoProcurado.value" titulo="{{foto.titulo}}" class="col-md-2 efeito">
        <a [routerLink]="['/cadastro',foto._id]">
          <foto class="efeito" url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
        </a>
        <button (click)="remover(foto)" class="btn btn-danger btn-block">Remover</button>
      </painel>
  </section>

</article>